<div class="body1">
    <div class="container">
      <div class="card">
        <h2 class="card-title">Add a Task</h2>
        <form [formGroup]="todoForm">
          <input type="text" placeholder="Enter your task..." class="task-input" required formControlName="item" />
          
          @if(!isEnabled) {
            <button type="submit" class="add-task-button" (click)="AddTask()" [disabled]="todoForm.invalid">
              <span class="icon">➕</span> Add Task
            </button>
          }
          @if(isEnabled) {
            <button type="submit" class="edit-task-button" (click)="UpdateTask()" [disabled]="todoForm.invalid">
              <span class="icon">✏️</span> Update Task
            </button>
          }
        </form>
      </div>
    </div>
    
    <div class="col-md-9">
      <div class="cdkDropList">
        <div class="row">
          <div class="col-md-4">
            <div class="example-container">
              <h2 class="head-title">Tasks
                @if(tasks.length > 0) {
                  <span>- {{tasks.length}} -</span>
                }
              </h2>
              <div cdkDropList #todoList1="cdkDropList" [cdkDropListData]="tasks" [cdkDropListConnectedTo]="[todoList2,todoList3]" class="example-list" (cdkDropListDropped)="drop($event)">
                @for (item of tasks; track $index) {
                  <div class="example-box" cdkDrag>{{item.title}}
                  
                    <a  (click)="deleteTask($index)">
                      <span >❌</span>
                    </a>
                    <a  (click)="OnUpdateTask(item,$index)">
                      <span >✏️</span>
                    </a>
                  </div>
                }
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="example-container">
              <h2 class="head-title">In Progress
                @if(inprogress.length > 0) {
                  <span>- {{inprogress.length}} -</span>
                }
              </h2>
              <div cdkDropList #todoList2="cdkDropList" [cdkDropListData]="inprogress" [cdkDropListConnectedTo]="[todoList3]" class="example-list" (cdkDropListDropped)="drop($event)">
                @for (item of inprogress; track $index) {
                  <div class="example-box" cdkDrag>{{item.title}}
                  
                    <a   (click)="deleteInProgress($index)">
                      <span >❌</span>
                    </a>
                  </div>
                }
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="example-container">
              <h2 class="head-title">Done
                @if(doneTasks.length > 0) {
                  <span>- {{doneTasks.length}} -</span>
                }
              </h2>
              <div cdkDropList #todoList3="cdkDropList" [cdkDropListData]="doneTasks" [cdkDropListConnectedTo]="[todoList1]" class="example-list" (cdkDropListDropped)="drop($event)">
                @for (item of doneTasks; track $index) {
                  <div class="example-box" cdkDrag>{{item.title}}
                 
                    <a (click)="deleteDone($index)">
                      ❌
                    </a>
                    <a>
                      ✔️
                    </a>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  