<nav class="navbar">
    <div class="navbar-container">
      <div class="logo">
        <a href="/home">Trello Application</a>
      </div>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li class="dropdown">
          <a href="#">More <i class="arrow-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Blog</a></li>
            <li><a href="#">Portfolio</a></li>
          </ul>
        </li>
      </ul>
      <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </nav>
  